{% extends 'base.html' %}
{% load static %}
{% block title %}{{ category.title }} Questions{% endblock %}
{% block content %}
    <h1 class="card my-4">Questions:{{ category.title }}</h1>
    <div class="card my-4 border-dark shadow">
        <h4 class="card-header border-dark">{{ question.question }}<span class="timer float-end"></span></h4>
        <form method="post" action="{% url 'submit-answer' category.id question.id %}">
            {% csrf_token %}
            <div class="card-body">
                <table class="table table-bordered">
                    <tr>
                        <td><input id="option_1" value="{{ question.opt_1 }}" name="answer" type="radio"/></td>
                        <th><label for="option_1">{{ question.opt_1 }}</label></th>
                    </tr>
                    <tr>
                        <td><input id="option_2" value="{{ question.opt_2 }}" name="answer" type="radio"/></td>
                        <th><label for="option_2">{{ question.opt_2 }}</label></th>
                    </tr>
                    <tr>
                        <td><input id="option_3" value="{{ question.opt_3 }}" name="answer" type="radio"/></td>
                        <th><label for="option_3">{{ question.opt_3 }}</label></th>
                    </tr>
                    <tr>
                        <td><input id="option_4" value="{{ question.opt_4 }}" name="answer" type="radio"/></td>
                        <th><label for="option_4">{{ question.opt_4 }}</label></th>
                    </tr>
                </table>
            </div>
            <div class="card-footer">
                <input type="submit" name="skip" class="btn btn-success skipBtn" value="skip"/>
                <input type="submit" name="submit" class="btn btn-primary submitBtn" value="submit">
            </div>
        </form>
    </div>
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.countdownTimer.min.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".submitBtn").on('click', function () {
                var _checkedAns = $("input[name='answer']:checked").val();
                if (_checkedAns == undefined) {
                    alert('Please select an option!');
                    return false;
                }
            });
            $(".timer").countdowntimer({
                seconds: 25,
                size: "sm",
                timeUp: function () {
                    location.reload()
                }
            })
        });
    </script>

{% endblock %}


from django.shortcuts import render, HttpResponse
from . import forms
from . import models
from django.contrib.auth.decorators import login_required


# Create your views here.


def home(request):
    return render(request, "home.html")


def register(request):
    msg = None
    form = forms.RegisterUser
    if request.method == 'POST':
        form = forms.RegisterUser(request.POST)
        if form.is_valid():
            form.save()
            msg = 'Data has been added'
    return render(request, "registration/register.html", {'form': form, 'msg': msg})


def all_category(request):
    catData = models.QuizCategory.objects.all()
    return render(request, 'all-category.html', {'data': catData})


@login_required()
def category_questions(request, cat_id):
    category = models.QuizCategory.objects.get(id=cat_id)
    question = models.QuizQuestions.objects.filter(category=category).order_by('id').first()
    return render(request, 'category-questions.html', {'question': question, 'category': category})


def submit_answer(request, cat_id, question_id):
    if request.method == 'POST':
        category = models.QuizCategory.objects.get(id=cat_id)
        question = models.QuizQuestions.objects.filter(category=category, id__gt=question_id).exclude(id=question_id). \
            order_by('id').first()
        if 'skip' in request.POST:
            if question:
                quest = models.QuizQuestions.objects.get(id=question_id)
                user = request.user
                answer = "Not Submitted"
                models.UserSubmittedAnswer.objects.create(user=user, question=quest, right_answer=answer)
                return render(request, 'category-questions.html', {'question': question, 'category': category})
        else:
            quest = models.QuizQuestions.objects.get(id=question_id)
            user = request.user
            answer = request.POST['answer']
            models.UserSubmittedAnswer.objects.create(user=user, question=quest, right_answer=answer)

        if question:
            return render(request, 'category-questions.html', {'question': question, 'category': category})
        else:
            result = models.UserSubmittedAnswer.objects.filter(user=request.user)
            skipped = models.UserSubmittedAnswer.objects.filter(user=request.user, right_answer='Not Submitted').count()
            attempted = models.UserSubmittedAnswer.objects.filter(user=request.user).exclude(
                right_answer='Not Submitted').count()
            rightAns = 0
            percentage = 0
            for row in result:
                if row.question.right_opt == row.right_answer:
                    rightAns += 1
            percentage = (rightAns * 100) / result.count()
            return render(request, 'result.html',
                          {'result': result, 'totalskipped': skipped, 'total_attempt': attempted, 'rightAns': rightAns, 'percentage' : percentage})
    else:
        return HttpResponse("Method not Allowed")





    category = models.QuizCategory.objects.get(id=cat_id)
    question = models.QuizQuestions.objects.filter(category=category).order_by('id').first()
    # check current user then insert row

    lastAttempt = None
    futureTime = None
    hoursLimit = 24
    countAttempt = models.UserCategoryAttempts.objects.filter(user=request.user, category=category).count()
    # if no attempts then insert row

    if countAttempt == 0:
        models.UserCategoryAttempts.objects.create(user=request.user, category=category)
    else:
        lastAttempt = models.UserCategoryAttempts.objects.filter(user=request.user, category=category).order_by(
            '-id').first()
        futureTime = lastAttempt.attempt_time + timedelta(hours=hoursLimit)

        if lastAttempt.attempt_time < futureTime:
            # insert another attempt
            return HttpResponse("You are submit")
        else:
            models.UserCategoryAttempts.objects.create(user=request.user, category=category)

    return render(request, 'category-questions.html', {'question': question, 'category': category, 'lastattempt': futureTime})



original
category = models.QuizCategory.objects.get(id=cat_id)
    question = models.QuizQuestions.objects.filter(category=category).order_by('id').first()
    # check current user then insert row

    lastAttempt = None
    futureTime = None
    hoursLimit = 24
    countAttempt = models.UserCategoryAttempts.objects.filter(user=request.user, category=category).count()
    # if no attempts then insert row

    if countAttempt == 0:
        models.UserCategoryAttempts.objects.create(user=request.user, category=category)
    else:
        lastAttempt = models.UserCategoryAttempts.objects.filter(user=request.user, category=category).order_by(
            '-id').first()
        futureTime = lastAttempt.attempt_time + timedelta(hours=hoursLimit)

        if lastAttempt.attempt_time < futureTime:
            # insert another attempt
            return HttpResponse("You are submit")
        else:
            models.UserCategoryAttempts.objects.create(user=request.user, category=category)

    return render(request, 'category-questions.html', {'question': question, 'category': category, 'lastattempt' : futureTime})
